.event-item {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid green;
    margin: 35px auto;
}

.event-info {
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    translate: 0 -120px; /* TODO: this should be parametric */
    padding: 5px;
}
.event-info p:first-child {
    font-weight: 600;
}