.nav-toggle {
    display: none;
}

nav {
    font-size: var(--fs-paragraph);
    text-align: center;
}

.menu-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--fs-title);
    padding: 2rem 0;
    margin: 0;
}

.nav-item {
    position: relative;
    text-decoration: none;
    color: var(--clr-light);
}
.nav-item::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--clr-light);
    position: absolute;
    left: 0;
    bottom: -.1rem;
    transition: width .5s;
}
.nav-item:hover::after {
    width: 60%;
}

@media (max-width: 650px) {
    /* here toggle  */
}