/* Overlapping menu with background image is missing. */


nav {
    font-size: var(--fs-paragraph);
    text-align: center;
}

.menu-bar {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--fs-title);
    padding: 2rem 0;
    margin: 0;
}

.nav-item {
    position: relative;
    text-decoration: none;
    color: var(--clr-light);
}
.nav-item:hover{
    color: var(--clr-light);
    font-weight: var(--fw-medium);
}
.nav-item::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--clr-light);
    position: absolute;
    left: 0;
    bottom: -.1rem;
    transition: width .5s;
}
.nav-item:hover::after {
    width: 60%;
}

/* JS function missing to toggle is-open */
@media (max-width: 700px) {
    .nav-toggle a{
        color: var(--clr-light);
    }

    .nav-toggle {
        display: flex;
        justify-content: right;
        font-size: var(--fs-headings);
        color: var(--clr-light);
    }
    .nav-close, .menu-bar {
        display: none;
    }

    .menu-bar[is-open] {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
    }
    .hamburger[is-open]{
        display: none;
    }
    .nav-close[is-open]{
        display: block;
        z-index: 1;
    }

    .nav-item {
        width: fit-content;
        height: fit-content;
    }
}