
.header{
    padding: 15px 0 !important;
    float: none !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    position: relative !important;
    height: auto !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    min-width: 0 !important;
    text-align: center !important;
    display: flex;
}

nav {
    float: none !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    position: relative !important;
    height: auto !important;
    max-width: calc(100% - 0px) !important;
    justify-content: center !important;
    align-items: stretch !important;
    margin: 19px auto 0 !important;
    padding: 5px 15px !important;
    min-width: 9em !important;
    text-align: initial !important;
}

.menu-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
.menu-item {
    padding-right: 20px !important;
    padding-left: 20px !important;
    display: flex;
    justify-content: flex-start;
    position: relative;
    font-weight: 400;
}
