#home-about {
    background: var(--clr-light);
    color: var(--clr-dark);
}
.home-about-photos { /*TODO: replace this with parent grid.*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 8px;
    justify-items: center;
}