
.video-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* flex-wrap: nowrap; */
    text-align: center;
    /* padding: 50px 10px; */
    justify-content: space-around;
    padding: 50px 20px;
    margin: auto;
    margin-bottom: 100px;
    /* border: 2px solid blue; */
    max-width: 750px;
    box-shadow: 1px 1px 10px var(--clr-light);
    border-radius: 10px;
}

.video-item > * {
    /* border: 1px solid salmon; */
}

.video-title {
    font-size: var(--fs-paragraph-larger);
    justify-content: center;
    /* display: none; */
}
