@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root {

    --font-family: "Hind", sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-title: calc(38px + 1vw);
    --fs-subtitle: calc(30px + 0.8vw);
    --fs-headings: calc(25px + 0.6vw);
    --fs-paragraph-larger: calc(17px + 0.390625vw);
    --fs-paragraph: calc(15px + 0.390625vw);
    --fs-landing-title: calc(110px + 1.4vw);

    --fs-landing-title-breakpoint: calc(40px + 1.1vw);
    --fs-title-breakpoint: calc(30px + 1vw);
    --fs-subtitle-breakpoint: calc(25px + 0.8vw);
    --fs-headings-breakpoint: calc(20px + 0.6vw);
    --fs-paragraph-breakpoint-larger: calc(15px + 0.390625vw);
    --fs-paragraph-breakpoint: calc(13px + 0.390625vw);

    --clr-dark: #101720;
    --clr-light: #FAF5FF;
    --clr-accent: red;

    --clr-facebook: rgb(7, 102, 255);
    --clr-instagram: rgb(253, 10, 202);
    --clr-youtube: rgb(255, 0, 0);
    --clr-spotify: rgb(28, 215, 96);
}