.hero-image {
  height: 100%;
  top:0;
  margin: 0;
  position: relative;

  background-image: url("../../assets/img/gruppo-ai-desktop-alter.png");
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  padding-top: 20%;
  padding-bottom: 18%;
  margin-top: 0 !important;
  text-align: center;
}

.hero-elements {
  transform: translateY(-100%);
}

.hero-title {
  font-size: clamp(3rem, 8vw, 5rem);
  text-transform: uppercase;
}

.hero-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
}

@media screen and (max-width: 1440px){
  .hero-elements {
    transform: translateY(-80%) scale(0.8)
  }
}

@media screen and (max-width: 1280px){
  .hero-elements {
    transform: translateY(-70%) scale(0.8)
  }
}

@media screen and (max-width: 1024px){
  .hero-elements {
    transform: translateY(-50%) scale(0.6)
  }
}

@media screen and (max-width: 990px) {
  .hero-image {
    background-position: top;
    background-image: url("../../assets/img/gruppo-ai-mobile-alter.png");
    height: 50%;
  }

  .hero-section {
    padding-top: 110%;
  }

  .hero-elements{
    transform: scale(1);
  }

  .hero-title {
    font-size: clamp(4rem, 8vw, 6rem);
  }

  .hero-icons {
    font-size: clamp(1.3rem, 8vw, 1.5rem);
  }
}






