.hero-image {
  width: 100%;
  background-image: url("../../assets/img/gruppo-larger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: translateY(-150px);
}

.hero-image {
  padding: 25rem 0;
}

.hero-section {
  margin: auto;
  text-align: center;
}

.hero-title {
  font-size: 5rem;
  font-size: clamp(3rem, 8vw, 5rem);
  text-transform: uppercase;
}

.hero-section {
  transform: translateY(200px);
}

.hero-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
}


@media screen and (max-width: 768px) {
  .hero-image {
    padding: 15rem 0;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 452px) {
  .hero-image {
    padding: 10rem 0;
    transform: translateY(0px);
  }
  .hero-section {
    transform: translateY(100px);
  }
}