.about-staff {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2,50%);
  gap: 30px;
}

@media screen and (max-width: 1234px) {
  .about-staff {
    grid-template-columns: 1fr;
  }
}