.event-wrapper {
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
  border-radius: 10px;
  gap: 5px;
  text-align: center;
}

.event-image {
  width: 80%;
  margin: 0 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--color-1), -1px -1px 5px var(--color-5);
}

.event-name {
  opacity: 0.9;
  background-color: var(--color-1);
  color: var(--color-3);
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 10%;
  width: 80%;
  padding-top: 1rem;
  transform: translateY(-6rem);

}

.event-caption {
  color: var(--color-2);
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 990px) {

  .event-image{
    margin-top: 1rem
  }

  .event-name{
    padding-top: 1.3rem !important;
    font-size: 1rem !important;
    text-align: center;
    transform: translate(0);
  }

  .event-caption {
    font-size: 0.8rem;
    margin-top: 10px;
    color: var(--color-2);
    text-align: center;
  }
}