.carousel-container {
    perspective: 1500px; /* Prospettiva 3D */
    transform-style: preserve-3d;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

/* Slide attive */
.active-slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Slide dietro, con dimensioni fisse */
.behind-slide {
    opacity: 0.6;
    transform: scale(0.85); /* Stessa dimensione per tutte le slide dietro */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    overflow: visible;
}

/* Slide nascoste */
.hidden-slide {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}