
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: var(--color-main);
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
  font-size: 1.3rem;
  font-size: clamp(1.3rem, 3.4vw, 1.6rem);
}

h3 {
  font-size: 1rem;
  font-weight: var(--fw-bold);
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

p {
  font-size: 1rem;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  margin-top: 15px;
}


ul {
  font-size: 1rem;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  list-style-position: inside;
  margin-left: 10px;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  /* padding: 4rem 6rem; */
  width: 70%;
  margin: auto;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .section {
    width: 80%;
    border: 1px solid red;
    /* padding: 4rem; */
    /* margin: 4rem; */
  }
}

@media screen and (max-width: 550px) {
  .section {
    /* width: 95%; */
    border: 1px solid green;
  };
}